.toast {
    position: absolute;
    opacity: 1;
}

.toast-top-right--hide {
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity .7s ease-out;
}

.toast-top-left--hide {
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity .7s ease-out;
}

.toast-bottom-right--hide {
    bottom: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity .7s ease-out;
}

.toast-bottom-left--hide {
    bottom: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity .7s ease-out;
}

.top-right {
    top: 10px;
    right: 10px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
}

.top-left {
    top: 10px;
    left: 10px;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}


@keyframes toast-in-right {
    from {
        transform: translateX(200%);

    }
    to {
        transform: translateX(0);
    }
}

@keyframes toast-in-left {
    from {
        transform: translateX(-100%);

    }
    to {
        transform: translateX(0);
    }
}
